<div id="welcome"><h1>Hello</h1></div>
<div id="blog">
  <p>If you're here for my Blog <%= link_to 'click here', controller: 'articles' %>. My blog is my personal blog and as such may not pertain to professional endeavors.</p>
</div>
<div id="about">
  <h1>About Me:</h1>
  <div id="about-left">
    <%= image_tag("about_me.jpg", :width => 180, :height => 240, :crop => :fill) %>
    <div id="contact">
      <div><p>To contact me, feel free to use any of the following:</p></div>
      <table>
        <tr>
          <td><%= image_tag("phone.png", :alt => "Call me") %></td>
          <td>614-905-1015</td>
        </tr>
        <tr id="email">
          <td><%= image_tag("email.png", :alt => "Email me") %></td>
          <td>Click here to send me an email</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="about-right"><%= render 'aboutme' %></div>
</div>
  <div id="hidden-form"><%= render 'contactform' %></div>
<div id="portfolio">
  <h1>Portfolio</h1>
</div>
<div id="resume">
  <h1>Resumé</h1>
  <div style="float:left;"><%= link_to "Resume as PDF", "https://docs.google.com/document/d/1t4UzcwONPlV3QGt3Yt4E8xHt_7jP225KjqqebL--3tE/export?format=pdf" %></div>
  <div style="float:right;"><%= link_to "Resume as Word Document", "https://docs.google.com/document/d/1t4UzcwONPlV3QGt3Yt4E8xHt_7jP225KjqqebL--3tE/export?format=doc" %></div>
</div>
