<% title 'Contact Me' %>
<% description 'RC Ackerman is a web developer specializing in PHP and Ruby. Learn how to contact him by clicking here.' %>
<% keywords 'RC Ackerman webdev developer php ruby contact' %>
<% set_meta_tags :author => "https://plus.google.com/+RCAckerman" %>

<%= render 'welcome/border' %>

<%= link_to(root_path) do %>
  <div id="home-button"> <- Home</div>
<% end %>
<div id="alt_container" class="container">
  <%= render 'contactme' %>
  <div id="hidden-form"><%= render 'contactform' %></div>

  <%= render 'about_me/resume' %>
</div>
